/* Add css rules here for your application. */

body {
}

th {
    white-space: normal !important;
}

/* stock list header row */
.pageTitle {
	color: #FFFFFF;
	padding: 3px;
	font-size: 14px;
	font-style: gros;
	font-family: sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	background-color: cornflowerblue;
}

.sectionTitle {
	color: black;
	padding: 5px;
	font-size: 14px;
	font-style: bold;
	text-align: center;
	background-color: gainsboro;
}

.header {
	color: firebrick;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	font-style: gros;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	background-color: linen;
}

.sideBar {
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
	margin: 2px 2px 10px;
	padding-bottom: 5px;
	border: 1px solid royalblue;
	background-color: #F9F9F9;
}

.subSection {
	border: 1px solid lightskyblue;
	background-color: White;	
}

.btnHideMenu {
	color: darkblue;
	padding: 1px;
	border-bottom: 1px ridge Silver;
	font-size: 11px;
	font-family: Tahoma;
	letter-spacing: 1px;
	background-color: lightcyan;
}

.paneMain {
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
	margin: 2px;
	border: 1px solid royalblue;
	background-color: whitesmoke;
}

.FlexTable {
  border-top: thin solid #444444;
  border-left: thin solid #444444;
  border-right: thin solid #111111;
  border-bottom: thin solid #111111;
  background-color:  #ffffff;
}

.FlexTable-Cell {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: blue;
  padding: 2px;
  spacing: 0px;
  height: 18px;
}

.FlexTable-Cell-Divider {    
  height: 5px; 
  border-width: 5px 0px 0px 0px;
  border-style: solid;
  border-color: red;
  margin-top: 5px; 
}

.FlexTable-Cell-Total {    
  height: 10px; 
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: bigger;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: blue;
  padding: 2px;
  spacing: 0px;
  height: 18px;
}

.evaluationTable {
	border: 1px solid Black;
}

.northPane {
	position: absolute;
	top: 5px;
	left: 5px;
}

.westPane {
	position: absolute;
	top: 50px;
	left: 5px;
}

.centerPane {
	position: relative;
	width: 100%;
}

.southPane {
	position: relative;
	width: 100px;
}
.sis_textbox {
	width: 300px;
}
.hiddenText {
	color: white;
}
.left_header {
	color: cornflowerblue;
	padding: 3px 0px;
	margin-left:-20px;
	font-size: 14px;
	font-family: sans-serif;
	background-color: cornflowerblue;	
}
.step {
	color: blue;
	padding: 2px;
	font-size: 14px;
	font-family: Verdana;
	font-weight: bold;
}
.fieldTitle {
	color: navy;
	padding: 1px;
}
.sis-TextArea {
	border: 0px;
	font-size: 12px;
	font-family: Tahoma;
	width: 99%;
	overflow: auto;
}
.subjectLine {
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	font-weight: bold;
	background-color: whitesmoke;
	margin-top: 10px;
}
.brancheLine {
	padding: 2px;
	width: 20px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
}
.bulletinBrancheLine {
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
}
.spaceCell{
	height: 10px;
}
.gradeColumn {
	background-color: ivory;
}
.bulletinHeader {
	font-size: 12px;
	font-family: sans-serif;
	background-color: palegoldenrod;
}
.bulletinHeaderNote {
	width: 50px;
	font-size: 12px;
	font-family: sans-serif;
	background-color: palegoldenrod;
}

.averageGrade {
	height:20px;
	color: mediumblue;
	font-size: 14px;
	font-family: sans-serif;
	vertical-align: middle;
	text-align: center;
	background-color: azure;
}

.progressBar {
	
}

.currentPage {
	padding: 5px;
	background-color: palegoldenrod;
}

.bulletinTitle {
	color: darkblue;
	font-size: 24px;
	font-family: sans-serif;
	text-align: center;
}

.bulletin {
	width: 740px;
	font-size: 12px;
	font-family: sans-serif;
	vertical-align: top;
	background-color: white;
}

.evaluation {
	width: 1080px;	
	height: 750px;
	font-size: 12px;
	font-family: sans-serif;
	vertical-align: top;
	background-color: white;
}

.bulletinNote {
	padding: 5px;
	border: 1px solid lightskyblue;
	font-size: 12px;
	font-style: italic;
	width: 95%;
	z-index: 9999;
}

.progressBarPanel {
	background-color: cornflowerblue;
	border: 5px solid white;
    position:relative;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.80);
}

.progressBarPopup{
	opacity: 0.4;
	filter: alpha(opacity=40);
	background-color: black; 
	border: 0px solid white;
}

.workInProgress {
	color: White;
	letter-spacing: 1px;
	text-align: center;
	background-color: firebrick;
}

.sis_textbox_readonly {
	width: 300px;
	background-color: whitesmoke;
}
.sis-combobox {
	width: 300px;
}

.evaluationText {
	color: darkblue;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	
}

.evaluationNote{
	font-size: 10px;
}


/* Bulletins */
.bulletinFooter {
	font-size: 14px;
}
/**/


/* Progress bar */

#floatingBarsG{
position:relative;
width:62px;
height:77px}

.blockG{
position:absolute;
background-color:#6F89E8;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.39s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.39s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.39s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.39s;
-o-transform:rotate(-90deg);
animation-delay:0.39s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.52s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.52s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.52s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.52s;
-o-transform:rotate(-45deg);
animation-delay:0.52s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.65s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.65s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.65s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.65s;
-o-transform:rotate(0deg);
animation-delay:0.65s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.78s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.78s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.78s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.78s;
-o-transform:rotate(45deg);
animation-delay:0.78s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.9099999999999999s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.9099999999999999s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.9099999999999999s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.9099999999999999s;
-o-transform:rotate(90deg);
animation-delay:0.9099999999999999s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:1.04s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:1.04s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:1.04s;
-ms-transform:rotate(135deg);
-o-animation-delay:1.04s;
-o-transform:rotate(135deg);
animation-delay:1.04s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:1.1700000000000002s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:1.1700000000000002s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:1.1700000000000002s;
-ms-transform:rotate(180deg);
-o-animation-delay:1.1700000000000002s;
-o-transform:rotate(180deg);
animation-delay:1.1700000000000002s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1.3s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.3s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.3s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.3s;
-o-transform:rotate(-135deg);
animation-delay:1.3s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#6F89E8}

}

@-webkit-keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#6F89E8}

}

@-ms-keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#6F89E8}

}

@-o-keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#6F89E8}

}

@keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#6F89E8}
}